{% extends 'PatoBundle:Default:index.html.twig' %}

{% block title %}
    Configuração - Caixa
{% endblock %}

{% block bodyLeft %}
    <h1>Configuração de Caixa</h1>

    <p>

        Aqui você pode configurar, criar, excluir e atualizar os caixas da aplicação, é possível criar vários caixas
        um para cada tipo de necessidade como caixa da empresa, caixa de finanças pessoais.
        <br/><br/>
        Para criar um novo caixa basta clicar no botão 'Adicinar novo caixa'.<br/>
        Para editar algum caixa ou excluir basta selecionar a opção desejada nas opções de cada caixa.
    </p>

    <hr>

    <div id="acoes-topo" class="wrapper">
        <button class="btn btn-large btn-info" onclick="location.href='{{ path('pato_configuracao_caixa_index_crud_novo') }}'">Adicionar novo caixa</button>
        <div class="clearfix"></div>
    </div>

    <hr>

    {% if msg_erro is defined %}
        <div class="text-warning">
            {{ msg_erro }}
        </div>
    {% endif %}

    {% if caixas %}

        <table class="table table-condensed table-striped table-bordered table-hover no-margin">
            <thead>
                <tr>
                    <th>
                        Nome
                    </th>
                    <th>
                        Descricao
                    </th>
                  <th>
                    Ações
                  </th>
                </tr>
            </thead>
            <tbody>

                {% for caixa in caixas %}

                    <tr>
                        <td>{{ caixa.nome }}</td>
                        <td>{{ caixa.descricao }}</td>
                        <td>
                            <a href="{{ path('pato_configuracao_caixa_index_crud_editar', {id: caixa.id}) }}" class="btn btn-info btn-mini" data-original-title="">
                                Editar
                            </a>
                            <a href="#" onclick="deletarCaixa({{ caixa.id }}, '{{ caixa.nome }}')" class="btn btn-warning2 btn-mini" data-original-title="">
                                Excluir
                            </a>
                        </td>
                    </tr>

                {% endfor %}

            </tbody>
        </table>


        <a id="apagaCaixa" href="#modalApagaCaixa" role="button" data-toggle="modal" data-original-title=""></a>
        <div id="modalApagaCaixa" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h3 id="apagaCaixaRotulo">
                    Deseja apagar o caixa?
                </h3>
            </div>

            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-info">
                    Cancelar
                </button>

                <button class="btn btn-warning2" data-dismiss="modal" id="apagaCaixaBotao">
                    Apagar
                </button>
            </div>
        </div>

    {% else %}
        <p>Você ainda não configurou nenhum caixa, clique em 'Adicionar novo caixa' para criar um novo caixa.</p>
    {% endif %}
{% endblock %}

{% block addScripts %}

    var deletarCaixa = function(id, caixa) {
        $('#apagaCaixaRotulo').text('Deseja apagar o caixa "'+ caixa +'"');
        $('#apagaCaixaBotao').attr('onclick', 'confirmaDeletarCaixa('+ id +')');
        $('#apagaCaixa').click();
    }

    var confirmaDeletarCaixa = function(id) {
        window.location.href = "{{ path('pato_configuracao_caixa_index_crud_deletar') }}/" + id;
    }

{% endblock %}