{% extends 'PatoCoreBundle:Default:base.html.twig' %}

{% block mainbar_icon %}icon-group{% endblock %}
{% block mainbar_title %}Editar usuário{% endblock %}

{% block mainbar_breadcrumb %}
    <a href="{{ path('pato_core_homepage') }}"><i class="icon-home"></i> Inicio</a> /
    <a href="{{ path('config_home') }}"> Configurações</a> /
    <a href="{{ path('user') }}"> Usuários</a> /
    Editar Usuário

{% endblock %}

{% block content%}
    <div class="row">
        <div class="col-lg-12">
            <a href="{{ path('user') }}" class="btn-lg btn-danger"><i class="icon-chevron-left"></i> Voltar</a>
            <br/><br/>
        </div>


        <div class="col-lg-12">
            <div class="widget">
                {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}
                    <div class="widget-head">
                        <div class="pull-left">Editar usuário</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <div class="padd">


                            {% if not edit_form.vars.valid %}
                                <div class="panel-danger text-danger alert alert-danger">

                                    {{ form_errors(edit_form) }}
                                    {% for passwordField in edit_form.password %}
                                        {{ form_errors(passwordField) }}
                                    {% endfor %}

                                </div>
                            {% endif %}


                            <div class="form-group">
                                {{ form_label(edit_form.name, "Nome", {'label_attr': {'class': 'col-lg-4 control-label'}}) }}
                                <div class="col-lg-8">
                                    {{ form_widget(edit_form.name, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <div class="form-group">
                                {{ form_label(edit_form.email, null, {'label_attr': {'class': 'col-lg-4 control-label'}}) }}
                                <div class="col-lg-8">
                                    {{ form_widget(edit_form.email, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            {% for passwordField in edit_form.password %}
                                <div class="form-group">
                                    {{ form_label(passwordField, null, {'label_attr': {'class': 'col-lg-4 control-label'}}) }}
                                    <div class="col-lg-8">
                                        {{ form_widget(passwordField, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                            {% endfor %}

                            <div class="form-group">
                                {{ form_label(edit_form.isActive, "Usuário Ativo", {'label_attr': {'class': 'col-lg-4 control-label'}}) }}
                                <div class="col-lg-8">
                                    <div id="isActived" class="make-switch has-switch" data-on="success" data-off="danger">
                                        {{ form_widget(edit_form.isActive, {'attr': {'class': ''}}) }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                {{ form_label(edit_form.isAdmin, "É Administrador?", {'label_attr': {'class': 'col-lg-5 control-label'}}) }}
                                <div class="col-lg-7">
                                    <div id="isActived" class="make-switch has-switch" data-on="success" data-off="danger" data-on-label="Sim" data-off-label="Não">
                                        {{ form_widget(edit_form.isAdmin, {'attr': {'class': ''}}) }}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="widget-foot">
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_widget(edit_form.submit, {'attr': {'class': 'btn btn-success'}}) }}
                                {{ form_end(edit_form) }}
                            </div>
                            <div class="col-md-6">
                                <div align="right">
                                    {{ form_start(delete_form) }}
                                    {{ form_widget(delete_form.submit, {'label': 'Deletar', 'attr': {'class': 'btn btn-danger'}}) }}
                                    {{ form_end(delete_form) }}
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrajs %}
    <script type="text/javascript">

        $('#isActived').on('switch-change', function(e, data){
            var $el = $(data.el);

            var value = data.value? 1: 0;

            $el.val(value);
        });

        {% if successUpdated is defined and successUpdated == true %}

            noty({text: '<strong>Dados de usuário atualizados.</strong>',layout:'topRight',type:'information',timeout:2000});

        {% endif %}
    </script>
{% endblock %}