{% extends 'PatoBundle:Default:index.html.twig' %}

{% block title %}
    Cadastro de Clientes
{% endblock %}

{% block bodyLeft %}

    <div id="acoes-topo" class="wrapper">
        <button class="btn btn-large btn-warning" onclick="location.href='{{ path('pato_cliente_homepage') }}'">Voltar</button>
        <div class="clearfix"></div>
    </div>

    <hr>
    <h1>Cadastro de cliente</h1>

    <div class="row-fluid">
        <div class="span12">
            <div class="widget">
                <div class="widget-header">
                    <div class="mini-title">
                        campos marcados com * são obrigatótios
                    </div>
                </div>
                
                <div class="widget-body">
                    <form name="cadastroClientes" class="form-horizontal no-margin">
                        <div id="form" class="">

                            <div class="control-group">
                                <label class="control-label" for="nome">
                                  Nome*:
                                </label>
                                <div class="controls">
                                  <input type="text" name="nome" id="nome" class="span6" placeholder="Digite o nome do cliente">
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="email">
                                  Email:
                                </label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        <span class="add-on">@</span>
                                        <input type="text" name="email" id="email" placeholder="Digite o email do cliente">
                                    </div>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="empresa">
                                  <strong>Empresa:</strong>
                                </label>
                                <div class="controls">
                                        <input type="hidden" name="empresa" class="span6" id="empresa" placeholder="Digite o empresa do cliente" readonly="readonly">
                                        <input type="text" name="empresaFantasia" class="span6" id="empresaFantasia" placeholder="Digite o empresa do cliente" readonly="readonly" onclick="$('#BuscarEmpresa').click()">
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="rg">
                                  R.G.:
                                </label>
                                <div class="controls">
                                  <input type="text" name="rg" id="rg" class="span3" placeholder="Digite o rg do cliente">
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="cpf">
                                  CPF:
                                </label>
                                <div class="controls">
                                  <input type="text" name="cpf" id="cpf" class="span3" placeholder="Digite o cpf do cliente">
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="telefone">
                                  Telefone:
                                </label>
                                <div class="controls">
                                  <input type="text" name="telefone" id="telefone" class="span3" placeholder="Digite o telefone do cliente">
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="celular">
                                  Celular:
                                </label>
                                <div class="controls">
                                  <input type="text" name="celular" id="celular" class="span3" placeholder="Digite o celular do cliente">
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="endereco">
                                  Endereço:
                                </label>
                                <div class="controls">
                                  <input type="text" name="endereco" id="endereco" class="span6" placeholder="Digite o endereco do cliente">
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="complemento">
                                  Complemento:
                                </label>
                                <div class="controls">
                                  <input type="text" name="complemento" id="complemento" class="span6" placeholder="Digite o complemento de endereço">
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="bairro">
                                  Bairro:
                                </label>
                                <div class="controls">
                                  <input type="text" name="bairro" id="bairro" class="span6" placeholder="Digite o bairro do cliente">
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="stateAndCity">
                                    Estado e Cidade
                                </label>
                                <div class="controls">
                                    <select id="estado" name="estado" class="span6" onchange="carregaCidades(this.value)">
                                        <option value="0" selected="selected">
                                            Selecione um estado
                                        </option>
                                    </select>

                                    <select id="cidade" name="cidade" class="span6 input-left-top-margins" disabled="disabled">
                                        <option value="0" selected="selected">
                                            Selecione uma cidade
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="descricao">
                                    Descricao:
                                </label>
                                <div class="controls">
                                        <textarea name="descricao" rows="3" class="span6"></textarea>
                                </div>
                            </div>

                            <div class="form-actions">
                                <a class="btn btn-info btn-large pull-right" onclick="salvarCliente()">Salvar</a>
                                <a class="btn btn-warning pull-left" onclick="location.href='{{ path('pato_cliente_homepage') }}'">Cancelar</a>
                            </div>

                            <div class="clearfix">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <a id="clienteSalvo" href="#modalClienteSalvo" role="button" data-toggle="modal" data-original-title=""></a>
    <div id="modalClienteSalvo" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                ×
            </button>
            <h3 id="myModalLabel">
                Cliente salvo com sucesso.
            </h3>
        </div>
<!--         <div class="modal-body">
            <p>
            One fine body…
            </p>
        </div> -->
        <div class="modal-footer">
            <a href="{{ path('pato_cliente_homepage') }}" class="btn btn-warning">
                Voltar para listagem
            </a>
            <a id="clienteSalvoVer" href="" class="btn">
                Ver Cliente
            </a>
            <a href="{{ path('pato_cliente_novo') }}" class="btn btn-primary">
                Adicionar novo
            </a>
        </div>
    </div>

    <a id="clienteSalvoErro" href="#modalClienteSalvoErro" role="button" data-toggle="modal" data-original-title=""></a>
    <div id="modalClienteSalvoErro" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                ×
            </button>
            <h3 id="myModalLabel">
                Erro ao salvar cliente.
            </h3>
        </div>
        <div class="modal-body">
            <p>
            Verifique se preencheu todos os campos obrigatórios corretamente.
            </p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">
                Fechar
            </button>
        </div>
    </div>

    <a id="BuscarEmpresa" href="#modalBuscarEmpresa" role="button" data-toggle="modal" data-original-title=""></a>
    <div id="modalBuscarEmpresa" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                ×
            </button>
            <h3 id="myModalLabel">
                Busca Empresa
            </h3>
        </div>
        <div class="modal-body">
            <form name="buscaEmpresas">
                <div class="control-group">
                    <label class="control-label" for="nome">
                      Nome da Empresa:
                    </label>
                    <div class="controls">
                      <input type="text" name="nomeEmpresa" id="nomeEmpresa" class="span4" placeholder="Digite o nome da Empresa" onkeyup="parent.buscaEmpresas(this.value);">
                    </div>

                    <div id="resultadosBusca">
                        <h4> Resultados </h4>

                        <div id="resultadosConteudo">
                            <table id="listaEmpresas">
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true" id="btnModalBuscaEmpresa">
                Fechar
            </button>
        </div>
    </div>

{% endblock %}

{% block addScript %}
    <script src="{{ asset('bundles/pato/js/jquery.dataTables.js') }}">
    </script>
{% endblock %}

{% block addScripts %}

function salvarCliente() {
    console.log('salvando cliente');

    console.log($("form").serializeArray());

    $.post("{{ path('pato_cliente_post') }}", $("form").serializeArray(), function(a){
        console.log(a.id);
        console.log('sucesso do krl');
        $("#clienteSalvoVer").attr("href", "{{ path('pato_cliente_get_view') }}/" + a.id);
        $("#clienteSalvo").click();
    })
    .fail(function(){
        console.log('Erro ao salvar cliente');
        $("#clienteSalvoErro").click();
    });
}

function carregaEstados() {

    $.getJSON("{{ path('pato_estados_por_pais_get') }}", function(data) {
        //limpa campo de options
        $("#estado option").remove();
        //texto de selecione o estado
        $("#estado").append(
            $("<option></option>")
                .text('Selecione um Estado')
                .val(0)
        );
        //preenche com os estados cadastrados
        $.each(data, function(index, item){
            $("#estado").append(
                $("<option></option>")
                    .text(item.estado)
                    .val(item.id)
            );
        });
    });
}

function carregaCidades(estado) {

    if (estado > 0) {
        $("#cidade option").remove();
        $("#cidade").append(
            $("<option></option>")
                .text('Selecione uma Cidade')
                .val(0)
        );

        $.getJSON("{{ path('pato_cidades_por_estado_get') }}/" + estado, function(data) {
            //preenche com as cidades cadastrados
            $.each(data, function(index, item){
                $("#cidade").append(
                    $("<option></option>")
                        .text(item.cidade)
                        .val(item.id)
                );
            });
            $("#cidade").removeAttr("disabled");
        })
        .fail(function() { window.alert('Erro! Selecione outro estado'); $("#cidade").attr("disabled", "disabled") })   
        ;
    }
}

function selecionaEmpresa(obj) {
    console.log($(obj).attr('data-id'));
    console.log($(obj).attr('data-name'));

    //seta empresa no cliente
    $('#empresa').attr('value', $(obj).attr('data-id'));
    $('#empresaFantasia').attr('value', $(obj).attr('data-name'));

    //fecha modal
    $('#btnModalBuscaEmpresa').click();
}

function buscaEmpresas(empresa) {
    console.log('mod bus emp');
    if (empresa.length > 2) {
        console.log('buscando empresas: ' +empresa);
        $.getJSON("{{ path('pato_cidade_get_search') }}/" + empresa, function(data){
            console.log(data);
            //limpa tabela
            $("#listaEmpresas").html('');
            $.each(data, function(index, item){
                $("#listaEmpresas").append(
                    '<tr data-id="'+ item.id +'" data-name="'+ item.nomeFantasia +'" onclick="selecionaEmpresa(this);"><td>' + item.nomeFantasia  + '</td></tr>'
                );
            });
        })
        .fail(function(){
            console.log('Erro ao executar busca.');
        });
    }
}

$(document).ready(
    carregaEstados()
);

{% endblock %}