{% extends 'PatoBundle:Default:index.html.twig' %}

{% block title %}
    Ver Cliente
{% endblock %}

{% block bodyLeft %}

    <div id="acoes-topo" class="wrapper">
        <button class="btn btn-large btn-warning" onclick="location.href='{{ path('pato_cliente_homepage') }}'">Voltar</button>
        <div class="clearfix"></div>
    </div>

    <hr>
    <h1>Cliente</h1>

    <div class="row-fluid">
    <div class="span12">
        <div class="widget">
            <div class="widget-header">
                <div class="title">
                    Detalhes
                </div>
            </div>

            <div class="widget-body">

            <div>
                <button class="btn btn-large btn-info" onclick="location.href='{{ path('pato_cliente_editar', {'id': cliente.id}) }}'">Editar</button>
                <br><br>
                <div class="clearfix"></div>
            </div>


                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="span3">
                            <div class="thumbnail">
                                <img alt="300x200" width="300" height="200" src="{{ asset('bundles/pato/images/profile.jpg') }}">
                            </div>
                        </div>

                        <div class="span9">
                            <h3>
                                {{ cliente.nome }}
                            </h3>
                            <h5>
                                {{ cliente.empresa.nomeFantasia | default("--") }}
                            </h5>

                            <hr>

                            <div>
                                <span class="fs1" aria-hidden="true" data-icon="">
                                    {{ cliente.telefone | default("Sem telefone") }}
                                </span>
                                <span class="fs1" aria-hidden="true" data-icon="">
                                    {{ cliente.celular | default("Sem celular") }}
                                </span>

                                <br/><br/>

                                <span class="fs1" aria-hidden="true" data-icon="">
                                    {{ cliente.email | default("Sem email") }}
                                </span>

                                <hr/>

                                <span class="fs1" aria-hidden="true" data-icon="">
                                    {{ cliente.endereco | default("Sem endereço") }} <br>
                                    {{ cliente.enderecoComplemento }} <br/>
                                    {% if cliente.cidade is not null %}
                                        {{ cliente.cidade.cidade }} - 
                                        {{ cliente.cidade.estado.estado }}
                                    {% endif %}

                                </span>
                            </div>
                        </div>
                </div>

            <!-- finito -->
            </div>

            <div class="clearfix">
            </div>
        </div>
    </div>
    </div>


    <div class="row-fluid">
    <div class="span12">
        <div class="widget">
            <div class="widget-header">
                <div class="title">
                    Notas
                </div>
            </div>

            <div class="widget-body">

                Notas
            <!-- finito -->
            </div>

            <div class="clearfix">
            </div>
        </div>
    </div>
    </div>

{% endblock %}