<!DOCTYPE html>
<!--[if lt IE 7]>

<html class="lt-ie9 lt-ie8 lt-ie7" lang="pt-BR">

<![endif]-->
<!--[if IE 7]>

<html class="lt-ie9 lt-ie8" lang="pt-BR">

<![endif]-->
<!--[if IE 8]>

<html class="lt-ie9" lang="pt-BR">

<![endif]-->
<!--[if gt IE 8]>
<!-->

<html lang="pt-BR">
  
  <!--
<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>
      {% block title %}
          PatoDemo
      {% endblock %} - PatoDemo
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- bootstrap css -->
    <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
    </script>
    <link href="{{ asset('bundles/pato/icomoon/style.css') }}" rel="stylesheet" />
    <!--[if lte IE 7]>
    <script src="css/icomoon-font/lte-ie7.js">
    </script>
    <![endif]-->
  <link href="{{ asset('bundles/pato/css/wysiwyg/bootstrap-wysihtml5.css') }}" rel="stylesheet" />
  <link href="{{ asset('bundles/pato/css/wysiwyg/wysiwyg-color.css') }}" rel="stylesheet" />
  <link href="{{ asset('bundles/pato/css/main.css') }}" rel="stylesheet" /> <!-- Important. For Theming change primary-color variable in main.css  -->
  <link href="{{ asset('bundles/pato/css/charts-graphs.css') }}" rel="stylesheet" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
  <body>
    <header>
      <a href="#" class="logo">
        <img src="{{ asset('bundles/pato/images/logo.png') }}" alt="logo" />
      </a>
      <div class="btn-group">
        <button class="btn btn-primary">
          Srinu Baswa
        </button>
        <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
          <span class="caret">
          </span>
        </button>
        <ul class="dropdown-menu pull-right">
          <li>
            <a href="#">
              Edit Profile
            </a>
          </li>
          <li>
            <a href="#">
              Account Settings
            </a>
          </li>
          <li>
            <a href="#">
              Logout
            </a>
          </li>
        </ul>
      </div>
      <ul class="mini-nav">
        <li>
          <a href="#">
            <div class="fs1" aria-hidden="true" data-icon="&#xe040;"></div>
            <span class="info-label badge badge-warning">
              3
            </span>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="fs1" aria-hidden="true" data-icon="&#xe04c;"></div>
            <span class="info-label badge badge-info">
              5
            </span>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="fs1" aria-hidden="true" data-icon="&#xe037;"></div>
            <span class="info-label badge badge-success">
              9
            </span>
          </a>
        </li>
      </ul>
      
    </header>
    <div class="container-fluid">
      <div class="dashboard-container">
        <div class="top-nav">
        {% block menu %}
          <ul>
            <li>
              <a href="{{ path('pato_homepage') }}" {% if app.request.attributes.get('_route') == 'pato_homepage' %} class="selected" {% endif %}>
                <div class="fs1" aria-hidden="true" data-icon="&#xe000;"></div>
                Inicio
              </a>
            </li>
            <li>
              <a href="{{ path('pato_cliente_homepage') }}" {% if  'pato_cliente' in app.request.get('_route') %} class="selected" {% endif %}>
                <div class="fs1" aria-hidden="true" data-icon="&#xe071;"></div>
                Clientes
              </a>
            </li>
            <li>
              <a href="{{ path('pato_empresa_homepage') }}" {% if  'pato_empresa' in app.request.get('_route') %} class="selected" {% endif %}>
                <div class="fs1" aria-hidden="true" data-icon="&#xe003;"></div>
                Empresas
              </a>
            </li>
            <li>
              <a href="{{ path('pato_caixa_homepage') }}" {% if  'pato_caixa' in app.request.get('_route') %} class="selected" {% endif %}>
                <div class="fs1" aria-hidden="true" data-icon="&#xe0d2;"></div>
                Caixa
              </a>
            </li>
            <li>
              <a href="icons.html">
                <div class="fs1" aria-hidden="true" data-icon="&#xe0a9;"></div>
                Agenda
              </a>
            </li>

            <li>
              <a href="edit-profile.html">
                <div class="fs1" aria-hidden="true" data-icon="&#xe0aa;"></div>
                Configuração
              </a>
            </li>

            <li>
              <a href="edit-profile.html">
                <div class="fs1" aria-hidden="true" data-icon="&#xe0aa;"></div>
                Comunidade
              </a>
            </li>
          </ul>
          <div class="clearfix">
          </div>
        </div>
        <div class="sub-nav">
        {% block subnav %}
        {% endblock %}
        </div>
        {% endblock %}
      </div>
      <div class="dashboard-wrapper">
        {% block body %}
          <div class="left-sidebar">
          {% block bodyLeft %}
          {% endblock %}
          </div>

          <div class="right-sidebar">
          {% block bodyRight %}
          {% endblock %}
          </div>
        {% endblock %}
        </div>
      </div>
      <!--/.fluid-container-->
    </div>
    <footer>
    {% block footer %}
      <p>
        &copy; baswaAdmin 2013
      </p>
    {% endblock %}
    </footer>
    
    <script src="{{ asset('bundles/pato/js/wysiwyg/wysihtml5-0.3.0.js') }}">
    </script>
    <script src="{{ asset('bundles/pato/js/jquery.min.js') }}">
    </script>
    <script src="{{ asset('bundles/pato/js/bootstrap.js') }}">
    </script>
    <script src="{{ asset('bundles/pato/js/wysiwyg/bootstrap-wysihtml5.js') }}">
    </script>
    <script src="{{ asset('bundles/pato/js/jquery.scrollUp.js') }}">
    </script>
    
    
    <!-- Google Visualization JS -->
    <script type="text/javascript" src="https://www.google.com/jsapi">
    </script>
    
    <!-- Easy Pie Chart JS -->
    <script src="{{ asset('bundles/pato/js/jquery.easy-pie-chart.js') }}">
    </script>
    
    <!-- Sparkline JS -->
    <script src="{{ asset('bundles/pato/js/jquery.sparkline.js') }}">
    </script>
    
    <!-- Tiny Scrollbar JS -->
    <script src="{{ asset('bundles/pato/js/tiny-scrollbar.js') }}">
    </script>
    
    {% block addScript %}
    {% endblock %}
    
    
    <script type="text/javascript">
      //ScrollUp
      $(function () {
        $.scrollUp({
          scrollName: 'scrollUp', // Element ID
          topDistance: '300', // Distance from top before showing element (px)
          topSpeed: 300, // Speed back to top (ms)
          animation: 'fade', // Fade, slide, none
          animationInSpeed: 400, // Animation in speed (ms)
          animationOutSpeed: 400, // Animation out speed (ms)
          scrollText: 'Scroll to top', // Text for element
          activeOverlay: false, // Set CSS color to display scrollUp active point, e.g '#00FFFF'
        });
      });

      {% block addScripts %}
      {% endblock %}

    </script>
    
    
  </body>
</html>