{% extends 'PatoBundle:Default:index.html.twig' %}

{% block bodyLeft %}

<div class="row-fluid">
    <div class="span12">
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand">Caixa: </a>
                <form name="selecionaCaixa">
                    <select name="caixa" onchange="mudaCaixa()">
                        {% for caixa in caixas %}
                            <option {% if caixaSelecionado.id == caixa.id %} selected {% endif %} value="{{ caixa.id }}">{{ caixa.nome }}</option>
                        {% endfor %}
                    </select>
                </form>
                <div class="clear"></div>
            </div>

            <br/>

            <div class="navbar-inner">
                <a class="brand" href="#" data-original-title=""> Ano </a>

                <ul class="nav">
                    {% for a in anos %}
                        <li {% if (ano == a) %} class="active" {% endif %}>
                            <a href="{{ path('pato_caixa_homepage', { 'caixa': caixaSelecionado.id, 'ano': a, 'mes': mes }) }}" data-original-title=""> {{ a }} </a>
                        </li>
                    {% endfor %}
                </ul>

            </div>

            <br/>

            <div class="navbar-inner">
                <a class="brand" href="#" data-original-title=""> Mes </a>

                <ul class="nav"> {# TODO: ver como traduzir os meses com twig #}
                    {% for m in 1..12 %}
                        <li {% if (mes == m) %} class="active" {% endif %}>
                            <a href="{{ path('pato_caixa_homepage', { 'caixa': caixaSelecionado.id, 'ano': ano , 'mes': m }) }}" data-original-title=""> {{ (ano ~ '-' ~ '%02s'|format(m) ~ '-01')|date('M')|localizeddate('none', 'none', app.request.locale, null, 'MMM') }} </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>
</div>

<div id="acoes-topo" class="wrapper">
    <a id="btNovaEntrada" class="btn btn-large btn-info" href="#modalNovaEntrada" role="button" data-toggle="modal" data-original-title="">Entrada</a>
    <a id="btNovaSaida" class="btn btn-large btn-danger" href="#modalNovaSaida" role="button" data-toggle="modal" data-original-title="">Saída</a>
    <br><br>
    <div class="clearfix"></div>
</div>

<div class="row-fluid">
    <div class="span12">
        <div class="widget">
            <div class="widget-header">
                <div class="title">
                    Caixa: {{ caixaSelecionado.nome }}
                </div>
                <span class="tools">
                    <a class="fs1" aria-hidden="true" data-icon="" data-original-title=""></a>
                </span>
            </div>
            
            <div class="widget-body">

                <table class="table table-condensed table-striped table-bordered table-hover no-margin">
                    <thead>
                        <tr>
                            <th style="width:10%">
                                No.
                            </th>
                            <th style="width:15%">
                                Data
                            </th>
                            <th style="width:30%" class="hidden-phone">
                                Descrição
                            </th>
                            <th style="width:10%" class="hidden-phone">
                                Tipo
                            </th>
                            <th style="width:10%" class="hidden-phone">
                                Valor
                          </th>
                          <th style="width:15%" class="hidden-phone">
                            Actions
                          </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for movimento in movimentos %}
                            <tr>
                                <td>
                                    #{{ movimento.id }}
                                </td>
                                <td>
                                    {{ movimento.dtMovimento|date("d/m/Y") }}
                                </td>
                                <td class="hidden-phone">
                                    {{ movimento.descricao }}
                                </td>
                                <td class="hidden-phone">
                                    {% if movimento.caixaMovimentoTipo.tipo == 1 %}
                                        <span class="label label label-info">
                                    {% else %}
                                        <span class="label label label-warning">
                                    {% endif %}
                                    {{ movimento.caixaMovimentoTipo.movimentoTipo }}
                                    </span>
                                </td>
                                <td>
                                    {{ movimento.valor|number_format(2, ',', '.') }}
                                </td>
                                <td class="hidden-phone">
                                    <!-- <a href="#" class="btn btn-warning2 btn-mini" data-original-title="">
                                        View
                                    </a> -->
                                    <a onclick="editarMovimento({{movimento.id}}, '{{movimento.caixaMovimentoTipo.movimentoTipo}}')" class="btn btn-info btn-mini" data-original-title="">
                                        Editar
                                    </a>
                                    <a onclick="confirmaApagarMovimento({{ movimento.id }})" class="btn btn-warning btn-mini" data-original-title="">
                                        Apagar
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            <tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            <tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><strong>Entradas:</strong></td>
                                <td>R$ {{ balancoMensal.entradas | number_format(2, ',', '.') }}</td>
                                <td></td>
                            <tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><strong><font color="red">Saidas:</font></strong></td>
                                <td><font color="red">R$ {{ balancoMensal.saidas | number_format(2, ',', '.') }}</font></td>
                                <td></td>
                            <tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><strong><font size='3'>Balanço Mês:</font></strong></td>
                                <td><font size='3' color="{% if balancoMensal.balanco < 0 %} red {% endif %}">R$ {{ balancoMensal.balanco | number_format(2, ',', '.') }}</font></td>
                                <td></td>
                            <tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

 <div id="modalNovaEntrada" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalNovaEntrada" aria-hidden="true" style="display: none;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×
        </button>
        <h3 id="myModalLabel">
            Nova Entrada
        </h3>
    </div>
    <div class="modal-body">
        <form name="novaEntrada" id="novaEntrada">
            <input name="caixa" type="hidden" value="{{ caixaSelecionado.id }}" />
            <input name="id" type="hidden" value="" />
            <div class="control-group">
                <label class="control-label" for="descricao">
                  Descrição:
                </label>
                <div class="controls">
                  <input type="text" name="descricao" id="descricao" class="span4" placeholder="Descrição da entrada">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="tipo">
                  Tipo:
                </label>
                <div class="controls">
                  <select name="tipo">
                  </select>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="valor">
                  Valor:
                </label>
                <div class="controls">
                  <input type="text" name="valor" id="valor" class="span2" placeholder="Valor da entrada">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="data">
                  Data:
                </label>
                <div class="controls">
                  <input type="text" name="data" id="data" class="span2 date_picker" placeholder="{{ "now"|date('d/m/Y') }}" value="{{ "now"|date('d/m/Y') }}">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true" id="btnModalCancelaEntrada">
            Cancelar
        </button>

        <button class="btn btn-success" id="btnModalSalvaEntrada" onclick="salvaMovimento('Entrada')">
            Salvar
        </button>
    </div>
</div>

<a id="entradaSalva" href="#modalEntradaSalva" role="button" data-toggle="modal" data-original-title=""></a>
<div id="modalEntradaSalva" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×
        </button>
        <h3 id="myModalLabel">
            Entrada salva com sucesso.
        </h3>
    </div>
<!--         <div class="modal-body">
        <p>
        One fine body…
        </p>
    </div> -->
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">
            Certo, fechar
        </button>
    </div>
</div>

 <div id="modalNovaSaida" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalNovaSaida" aria-hidden="true" style="display: none;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×
        </button>
        <h3 id="myModalLabel">
            Nova Saida
        </h3>
    </div>
    <div class="modal-body">
        <form name="novaSaida" id="novaSaida">
            <input name="caixa" type="hidden" value="{{ caixaSelecionado.id }}" />
            <input name="id" type="hidden" value="" />
            <div class="control-group">
                <label class="control-label" for="descricao">
                  Descrição:
                </label>
                <div class="controls">
                  <input type="text" name="descricao" id="descricao" class="span4" placeholder="Descrição da saída">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="tipo">
                  Tipo:
                </label>
                <div class="controls">
                  <select name="tipo">
                  </select>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="valor">
                  Valor:
                </label>
                <div class="controls">
                  <input type="text" name="valor" id="valor" class="span2" placeholder="Valor da saída">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="data">
                  Data:
                </label>
                <div class="controls">
                  <input type="text" name="data" id="data" class="span2 date_picker" placeholder="{{ "now"|date('d/m/Y') }}" value="{{ "now"|date('d/m/Y') }}">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true" id="btnModalCancelaSaida">
            Cancelar
        </button>

        <button class="btn btn-success" id="btnModalSalvaEntrada" onclick="salvaMovimento('Saida')">
            Salvar
        </button>
    </div>
</div>

<a id="movimento" href="#modalMovimentoSalva" role="button" data-toggle="modal" data-original-title=""></a>
<div id="modalMovimentoSalva" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×
        </button>
        <h3 id="myModalLabel">
            Movimento salvo.
        </h3>
    </div>
    <div class="modal-footer">
        <button onclick="window.location.href=window.location.href"class="btn btn-primary" data-dismiss="modal" aria-hidden="true">
            Certo, fechar
        </button>
    </div>
</div>

<a id="movimentoExcluir" href="#modalMovimentoExcluir" role="button" data-toggle="modal" data-original-title=""></a>
<div id="modalMovimentoExcluir" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×
        </button>
        <h3 id="myModalLabel">
            Deseja excluir este movimento?
        </h3>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">
            Não
        </button>
        
        <button id="movimentoExcluirBtn" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">
            Sim
        </button>
    </div>
</div>

{% endblock %}

{% block bodyRight %}
    <div class="wrapper">
        <ul class="mini-dashboard">
            <li>
                <center>
                    <font size='6'>Balanço Anual
                        <font size='3'><small>caixa {{ caixaSelecionado.nome }}</small></font>
                    </font>
                </center>
                <br>
            </li>

            <li>
                <h5>Entradas</h5>
                R$ {{ balancoAnual.entradas | number_format(2, ',', '.') }}
            </li>            
            <li>
                <font color="red">
                    <h5>Saidas</h5>
                    R$ {{ balancoAnual.saidas | number_format(2, ',', '.') }}
                </font>
            </li>
            <li>
                <h5>Balanço</h5>
                <font color="{% if balancoAnual.balanco < 0 %} red {% endif %}">
                    R$ {{ balancoAnual.balanco | number_format(2, ',', '.') }}
                </font>
            </li>
        </ul>
    </div>
{% endblock %}

{% block addScript %}
    <script src="{{ asset('bundles/pato/js/date-picker/date.js') }}">
    </script>
{% endblock %}

{% block addScripts %}

function confirmaApagarMovimento(id) {
    $("#movimentoExcluirBtn").attr('onclick', 'apagarMovimento('+id+')');
    $("#movimentoExcluir").click();
}

function apagarMovimento(id) {
    $.get("{{ path('pato_caixa_movimento_deletar') }}/" + id, function(data){
        console.log(data);
        if (data == true) {
            window.location = window.location.href;
        }
    })
    .fail(function(){
        console.log('Erro ao apagar movimento.');
    })
}

function editarMovimento(id, movimentoTipo) {
    console.log(id);
    console.log(movimentoTipo);

    //abre modal
    $('#btNova' + movimentoTipo).click();

    //carrega dados
    $.get('{{path("pato_caixa_movimento_pegar")}}/'+id, function(data){
        console.log(data);
        $("form[name=nova" + movimentoTipo + "] input[name=id]").val(data.id);
        $("form[name=nova" + movimentoTipo + "] input[name=descricao]").val(data.descricao);
        $("form[name=nova" + movimentoTipo + "] input[name=valor]").val(data.valor);
        $("form[name=nova" + movimentoTipo + "] input[name=data]").val(data.data);

        //seleciona o tipo de movimento
        $("form[name=nova" + movimentoTipo + "]  select option").each(function(d, a) {
            var op = $(this);
            if ( op.val() == data.tipoMovimento ) {
                op.attr('selected', true);
            } 
            else {
                op.removeAttr('selected');
            }
        })
    });

    console.log($("form#nova" + movimentoTipo + " input[name=id]"));
}

function salvaMovimento(form) {

   $.post("{{ path('pato_caixa_movimento_post') }}", $("form#nova"+form).serializeArray(), function(a){
        $("#btnModalCancela"+form).click();
        $("#movimento").click();

    })
    .fail(function(){
        console.log('Erro ao salvar entrada');

    });
 
}

function carregaTipoMovimento() {

    $('#modalNovaSaida form select option').remove();
    $('#modalNovaEntrada form select option').remove();

    var select1 = $('#modalNovaSaida form select');
    var select2 = $('#modalNovaEntrada form select');

    $.getJSON("{{ path('pato_caixa_tipos_movimentos') }}/saida", function(data) {
        $.each(data, function(index, item){
            select1.append(
                $("<option></option>")
                    .text(item.movimentoTipo)
                    .val(item.id)
            );
        });
     
    })
    .fail(function() { window.alert('Erro o carregar tipos de movimento'); });

    $.getJSON("{{ path('pato_caixa_tipos_movimentos') }}/entrada", function(data) {
    $.each(data, function(index, item){
        select2.append(
            $("<option></option>")
                .text(item.movimentoTipo)
                .val(item.id)
        );
    });
     
    })
    .fail(function() { window.alert('Erro o carregar tipos de movimento'); });
}

$('#btNovaSaida').click(function(){
    //limpa form
   $('#modalNovaSaida form').each(function(){
        this.reset();
   });
});

$('#btNovaEntrada').click(function(){
    //limpa form
   $('#modalNovaEntrada form').each(function(){
        this.reset();
   });
});

$(document).ready(function() {
    carregaTipoMovimento()
});

function mudaCaixa() {
    window.location.href = "{{ path('pato_caixa_homepage') }}/" + $('form[name="selecionaCaixa"] select').val();
}

{% endblock %}