{% extends 'PatoBundle:Default:index.html.twig' %}

{% block title %}
    Ver Empresa
{% endblock %}

{% block bodyLeft %}

    <div id="acoes-topo" class="wrapper">
        <button class="btn btn-large btn-warning" onclick="location.href='{{ path('pato_empresa_homepage') }}'">Voltar</button>
        <div class="clearfix"></div>
    </div>

    <hr>
    <h1>Empresa</h1>

    <div class="row-fluid">
    <div class="span12">
        <div class="widget">
            <div class="widget-header">
                <div class="title">
                    Detalhes
                </div>
            </div>

            <div class="widget-body">

            <div>
                <button class="btn btn-large btn-info" onclick="location.href='{{ path('pato_empresa_editar', {'id': empresa.id}) }}'">Editar</button>
                <br><br>
                <div class="clearfix"></div>
            </div>


                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="span3">
                            <div class="thumbnail">
                                <img alt="300x200" width="300" height="200" src="{{ asset('bundles/pato/images/companies.png') }}">
                            </div>
                        </div>

                        <div class="span9">
                            <h3>
                                {{ empresa.nomeFantasia }}
                            </h3>

                            <hr>

                            <div>
                                <span class="fs1" aria-hidden="true" data-icon="">
                                    {{ empresa.telefone | default("Sem telefone") }}
                                </span>
                                <span class="fs1" aria-hidden="true" data-icon="">
                                    {{ empresa.celular | default("Sem celular") }}
                                </span>

                                <br/><br/>

                                <span class="fs1" aria-hidden="true" data-icon="">
                                    {{ empresa.email | default("Sem email") }}
                                </span>

                                <hr/>

                                <span class="fs1" aria-hidden="true" data-icon="">
                                    {{ empresa.endereco | default("Sem endereço") }} <br>
                                    {{ empresa.enderecoComplemento }} <br/>
                                    {% if empresa.cidade is not null %}
                                        {{ empresa.cidade.cidade }} - 
                                        {{ empresa.cidade.estado.estado }}
                                    {% endif %}

                                </span>
                            </div>
                        </div>
                </div>

            <!-- finito -->
            </div>

            <div class="clearfix">
            </div>
        </div>
    </div>
    </div>


    <div class="row-fluid">
    <div class="span12">
        <div class="widget">
            <div class="widget-header">
                <div class="title">
                    Notas
                </div>
            </div>

            <div class="widget-body">

                Notas
            <!-- finito -->
            </div>

            <div class="clearfix">
            </div>
        </div>
    </div>
    </div>

{% endblock %}

{% block bodyRight %}
    <div class="wrapper">
        <h3>Contatos</h3>
        <ul class="month-income">
            {% for empregado in empresa.empregados %}
                <li onclick="window.location.href='{{ path('pato_cliente_get_view', { 'id': empregado.id }) }}';">
                    <span class="icon-block blue-block">
                        <b class="fs1" aria-hidden="true" data-icon=""></b>
                    </span>
                    <h5>
                        {{ empregado.nome }}
                        <small class="info-fade">
                            {{ empregado.telefone }}
                        </small>
                    </h5>
                    <p>{{ empregado.email }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}