{% extends 'PatoCoreBundle:Default:base.html.twig' %}

{% block mainbar_icon %}icon-building{% endblock %}
{% block mainbar_title %}Empresas :: <span class="text-primary">{{ entity.name }}</span>{% endblock %}

{% block mainbar_breadcrumb %}
    <a href="{{ path('pato_core_homepage') }}"><i class="icon-home"></i> Inicio</a> /
    <a href="{{ path('clients_company') }}"> Empresas</a> /
    {{ entity.name }}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-6">
            <div class="widget">
                <div class="widget-head">
                    <div class="pull-left">Empresa</div>
                    <div class="widget-icons pull-right">
                        {#<a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>#}
                        {#<a href="#" class="wclose"><i class="icon-remove"></i></a>#}
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="widget-content padd">
                    <div class="row">
                        <div class="col-md-4">
                                <i class="icon-building" style="font-size: 18em;"></i>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2> {{ entity.name }} </h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <i class="icon-phone"></i>
                                    {{ entity.phone? entity.phone:'Sem telefone' }}
                                </div>

                                <div class="col-md-6">
                                    <i class="icon-envelope"></i>
                                    {{ entity.email? entity.email:'Sem E-mail' }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <i class="icon-map-marker"></i>
                                    {% if entity.address %}
                                        {{ entity.address }}

                                        {% if entity.district %}
                                             - {{ entity.district }}
                                        {% endif %}

                                        {% if entity.city %}
                                            - {{ entity.city }}
                                        {% endif %}

                                    {% else %}
                                        Sem Endereço
                                    {% endif %}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <i class="icon-link"></i>
                                    {{ entity.website? entity.website:'Sem website' }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="widget-foot">
                    <div class="pull-left"><a href="{{ path('clients_company_edit', { 'id': entity.id }) }}" class="btn btn-info">Editar</a> </div>
                    <div align="right">
                        {{ form_start(delete_form) }}
                        {{ form_widget(delete_form.submit, {'label': 'Deletar', 'attr': {'class': 'btn btn-danger', 'onclick': 'deleteClient(this.form); return false;'}}) }}
                        {{ form_end(delete_form) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="widget">
                <div class="widget-head">
                    <div class="pull-left">
                        Contatos
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="widget-content padd">
                    {% for contato in entity.contacts %}
                        <div class="row today-datas well padd ">
                            <div class="row">
                                <div class="col-md-11">
                                    <h3>{{ contato.name }}</h3>
                                    <hr/>
                                </div>
                                <div class="col-md-1">
                                    <a href="{{ path('clients_contact_show', { 'id': contato.id }) }}"><i class="icon-search"></i></a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <i class="icon-envelope"></i> {{ contato.email? contato.email:'Sem email' }}
                                </div>
                                <div class="col-md-12">
                                    <i class="icon-phone"></i> {{ contato.phone? contato.phone:'Sem telefone' }}
                                </div>
                                <div class="col-md-12">
                                    <i class="icon-mobile-phone"></i> {{ contato.cellphone? contato.cellphone:'Sem celular' }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="widget-foot">

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrajs %}
    <script type="application/javascript">
        var deleteClient = function(form) {
            var confirmar = confirm("Deseja deletar a empresa: {{ entity.name }}.\n Todos os contatos serão apagados.");

            if (confirmar) {
                form.submit();

                return true;
            }

            return false;
        }
    </script>
{% endblock %}
